*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}

.header-img {
  width: 35%;
  min-width: 500px;
  max-width: 40%;
  width: auto;
  display: block;
  margin: auto;
}

.header-text {
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2em;
}

.slogan {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: -15px 0 35px 0;
  padding: 0 25vw;
  font-family: arial;
  font-size: 19px;
  text-align: center;
}

.nav-img {
  height: 100px;
}

.tekstblok {
  display: block;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

main {
  display: grid;
  grid-template-columns: 0.5fr 200px 800px 200px 0.5fr;
  columns: 4;
  min-height: 100dvh;
  gap: 20px;
}

main #gutter-left {
  grid-column: 2;
}
main #gutter-right {
  grid-column: 4;
}
main #columns {
  grid-column: 3 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.block {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* border: 1px black solid; */
}

.gutter-ad {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.project {
  display: inline;
  max-width: 80%;
  margin-bottom: 5px;
}

.project-img-box {
  max-width: 800px;
}

.project-img {
  width: 140px;
  margin: 2px;
  border-style: ridge;
  cursor: pointer; /* Indicates that the image is clickable */
}

.project-vid {
  width: 486px;
  height: 276px;
  margin: 2px;
  border-style: ridge;
  cursor: pointer; /* Indicates that the image is clickable */
}

.project-2vids {
  width: 366px;
  height: 208.5px;
  margin: 2px;
  float: left;
  border-style: ridge;
  cursor: pointer; /* Indicates that the image is clickable */
}

.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack content vertically */
}

.lightbox-content {
  display: none;
  max-width: 70%;
  max-height: 70%;
  display: block;
  border-style: ridge;
  margin-bottom: 10px; /* Space between image and caption */
}

.lightbox-caption {
  width: 40%; /* Match the max-width of the image */
  max-width: 40%; /* Ensure it doesn't exceed the image's max-width */
  background-color: white; /* White background */
  color: black; /* Black text */
  text-align: center; /* Center the text */
  padding: 10px; /* Add some padding */
  box-sizing: border-box; /* Include padding in width calculation */
  margin-bottom: 20px; /* Space between caption and close button */
  word-wrap: break-word; /* Handle long words */
}

.close {
  display: none;
  position: absolute;
  top: 50px;
  right: 100px;
  color: #ffffff;
  font-size: 40px;
  transition: 0.3s;
  font-family: "Times New Roman", Times, serif; /* Times New Roman font */
  content: "X"; /* Capital X */
}

.close:hover,
.close:focus {
  display: none;
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.category-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
  padding: 20px;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  background-color: #f0f0f0; /* Original background color */
  color: #000000; /* Original text color */
  text-decoration: none;
  font-family: arial;
  font-size: 17px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: inset 1px 1px 1px #bdbdbd, inset -1px -1px 2px #808080,
    1px 1px 1px rgba(0, 0, 0, 0.8); /* Embossed effect */

  transform: translateY(0);
  transition: transform 0.2s, box-shadow 0.2s;
}

.category-button:hover {
  transform: translateY(-5px);
  box-shadow: inset 2px 2px 2px #bdbdbd, inset -2px -2px 2px #808080,
    2px 2px 2px rgba(0, 0, 0, 0.8); /* Embossed effect */
  background-color: #aeaeae; /* Slight color change on hover */
  color: white;
}

.category-button:active {
  transform: translateY(2px);
  box-shadow: inset 2px 2px 5px #fff, inset -2px -2px 5px #808080,
    3px 3px 0px rgba(0, 0, 0, 0.3); /* Shallower shadow on active */
  background-color: #d0d0d0; /* Darker color on click */
}

/* Different colors and positions for each button */
.category-button:nth-child(1) {
  color: black;
  background-color: #79cfec;
  transform: translateY(-2px) rotate(-1deg);
}

.category-button:nth-child(2) {
  background-color: #5f9f4d;
  color: rgb(0, 0, 0);
  transform: translateY(2px) rotate(1deg);
}

.category-button:nth-child(3) {
  background-color: #fff36a;
  color: rgb(0, 0, 0);
  transform: translateY(-2px) rotate(1deg);
}

.category-button:nth-child(4) {
  background-color: #ff5432;
  color: rgb(0, 0, 0);
  transform: translateY(2px) rotate(-1deg);
}

.category-button:nth-child(5) {
  background-color: #5083b2;
  color: rgb(0, 0, 0);
  transform: translateY(-2px) rotate(1deg);
}

/* Different colors and positions for each button */
.category-button:hover:nth-child(1) {
  color: black;
  background-color: #c4c4c4;
}

.category-button:hover:nth-child(2) {
  color: black;
  background-color: #c4c4c4;
}

.category-button:hover:nth-child(3) {
  color: black;
  background-color: #c4c4c4;
}

.category-button:hover:nth-child(4) {
  color: black;
  background-color: #c4c4c4;
}

.category-button:hover:nth-child(5) {
  color: black;
  background-color: #c4c4c4;
}

/* Mobile Devices */
@media (max-width: 767px) {
  body {
    width: 100%;
    padding: 0;
  }

  .header-img {
    width: 90%;
    max-width: 100%;
    min-width: 400px;
  }

  .header-text {
    font-size: 1.5em;
    padding: 0px;
  }

  .slogan {
    padding: 0 5vw;
    font-size: 16px;
  }

  .nav-img {
    height: 80px;
  }

  main {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  main #gutter-left,
  main #gutter-right {
    display: block;
  }

  .block {
    height: auto;
    width: auto;
  }

  .project {
    max-width: 100%;
  }

  .project-img {
    width: 30%;
  }

  .project-vid {
    width: 200px;
  }

  .project-2vids {
    width: 80%;
    height: auto;
    float: none;
  }

  .lightbox-content {
    max-width: 90%;
    max-height: 90%;
  }

  .lightbox-caption {
    width: 100%;
  }

  .close {
    top: 20px;
    right: 20px;
  }

  .category-nav {
    flex-direction: row;
    align-items: center;
  }

  .category-button {
  }

  .category-button:hover {
    transform: none; /* Remove transform on hover for smaller screens */
  }

  .tekstvak {
    width: 90%;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .header-img {
    width: 60%;
  }

  .header-text {
    font-size: 1.8em;
    padding: 1.5em;
  }

  .slogan {
    gap: 50px;
    padding: 0 10vw;
    font-size: 18px;
  }

  .nav-img {
    height: 90px;
  }

  main {
    grid-template-columns: 1fr 200px 1fr 200px 1fr;
  }

  main #gutter-left,
  main #gutter-right {
    display: block;
  }

  main #columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .block {
    height: 250px;
  }

  .project-img {
    width: 120px;
  }

  .project-vid {
    width: 80%;
  }

  .project-2vids {
    width: 48%;
  }

  .lightbox-content {
    max-width: 80%;
  }

  .lightbox-caption {
    width: 50%;
  }
}
