*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(243, 243, 243);
}

.header-img {
  width: 31%;
  min-width: 500px;
  max-width: 600px;
  display: block;
  margin: auto;
}

.header-text {
  font-size: 2em;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2em;
}

main {
  display: grid;
  grid-template-columns: 0.5fr 200px 800px 200px 0.5fr;
  columns: 4;
  min-height: 100dvh;
  gap: 20px;
}
main #gutter-left {
  grid-column: 2;
}
main #gutter-right {
  grid-column: 4;
}
main #columns {
  grid-column: 3 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.block {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* border: 1px black solid; */
}

.block ul {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  list-style-type: none;
  padding-left: 15px;
}

.title-bar {
  background-color: tomato;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: bold;
}

.video-block {
  width: 200px;
}

.gutter-ad {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.tekstvak {
  padding: 15px;
  background-color: white;
}

.project-img-box {
  max-width: 800px;
}

.project-img {
  width: 140px;
  margin: 2px;
  border-style: ridge;
  cursor: pointer; /* Indicates that the image is clickable */
}

.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack content vertically */
}

.lightbox-content {
  display: none;
  max-width: 70%;
  max-height: 70%;
  display: block;
  border-style: ridge;
  margin-bottom: 10px; /* Space between image and caption */
}

.lightbox-caption {
  width: 40%; /* Match the max-width of the image */
  max-width: 40%; /* Ensure it doesn't exceed the image's max-width */
  background-color: white; /* White background */
  color: black; /* Black text */
  text-align: center; /* Center the text */
  padding: 10px; /* Add some padding */
  box-sizing: border-box; /* Include padding in width calculation */
  margin-bottom: 20px; /* Space between caption and close button */
  word-wrap: break-word; /* Handle long words */
}

.close {
  display: none;
  position: absolute;
  top: 50px;
  right: 100px;
  color: #ffffff;
  font-size: 40px;
  transition: 0.3s;
  font-family: "Times New Roman", Times, serif; /* Times New Roman font */
  content: "X"; /* Capital X */
}

.close:hover,
.close:focus {
  display: none;
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
